@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");


*{
    padding: 0;
    margin: 0;
}

body {
    background: #000000;
}



h1 {
    color: #ffff;
    font-family: "poppins", sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

/* .none {

} */

.none {
    display: flex;
    flex-direction: column;
}